body{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

/*Global*/

*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

a{

}

a:focus{
    outline: none;
    border: none;
}

p{

}

h1, h2, h3, h4, h5{

}

h1{

}

h2{

}

h3{

}

h4{

}

h5{

}

ul,
ol{
    margin: 0;
    padding: 0;
}

ul li,
ol li{
    list-style: none;
}

/*Sprite*/

.sprite{
    background-image: url(../images/sprite.svg);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
}

.no-svg .sprite{
    background-image: url(../images/sprite.png);
}

/*Content*/

.profiles{
    background: #0f2d52;
    padding: 40px 0;
}

.profiles ul{
    margin: 0 -20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; 
}

.profiles ul:after{
    content: '';
    display: block;
    clear: both;
}

.profiles ul > li{
    width: 50%;
    padding: 0 20px;
    float: left;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
}

.profiles ul > li figure{
    width: 100%;
    display: table;
}

.profiles ul > li figure .figure-box{
    width: 106px;
    display: table-cell;
    vertical-align: top;
}

.profiles ul > li figure figcaption{
    padding: 0 0 0 20px;
    color: #fff;
    display: table-cell;
    vertical-align: top;
}

.profiles ul > li figure figcaption h3{
    margin: 0 0 6px;
    font-size: 18px;
}

.profiles ul > li figure figcaption p{
    margin: 0;
    font-size: 14px;
}

.news-list{
    padding: 70px 0 0;
}

.news-list > li{
    margin: 0 0 70px;
    position: relative;
}

.news-list > li .text{
    margin: 0 0 0 160px;
    padding: 0 0 0 30px;
    border-left: 1px solid #000;
}

.news-list > li .text .news-system-info{
    width: 160px;
    padding: 0 30px;
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
}

.news-list > li .text .news-system-info time{
    display: block;
}

.news-list > li .text .news-system-info span{
    display: block;
}

.news-list > li .text .news-system-info span em{
    color: #006fbf;
    font-style: normal;
}

.news-list > li .text h3{
    margin: 0;
    font-size: 24px;
}

.news-list > li .text a{
    background: #006fbf;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

/*Media Queries*/

@media all and (max-width: 1000px){
    
    .profiles ul > li{
        width: 100%;
        margin: 0 0 40px;
        float: none;
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        text-align: center;
    }

    .profiles ul > li figure{
        display: block;
    }

    .profiles ul > li figure .figure-box{
        margin: 0 auto;
        display: block;
    }

    .profiles ul > li figure figcaption{
        margin: 20px 0 0;
        padding: 0;
        display: block;
    }
    
}

@media all and (max-width: 767px){
    
    .news-list > li .text{
        margin: 0;
        padding: 0;
        border-left: none;
    }

    .news-list > li .text .news-system-info{
        width: auto;
        padding: 10px 0 0;
        text-align: left;
        position: static;
        top: auto;
        left: auto;
    }

    .news-list > li .text .news-system-info time{
        margin: 0 10px 10px 0;
        display: inline-block;
    }

    .news-list > li .text .news-system-info span{
        margin: 0 10px 10px 0;
        display: inline-block;
    }
    
}

/* upgrade browser */

#upgrade-browser {
    /*padding: 17px 30px 14px 10px;*/
    padding: 10px 60px;
    position: relative;
    z-index: 10000;
    text-align: center;
    background: #ffe490;
}

#upgrade-browser a {
    height: 50px; width: 50px;
    display: inline-block;
    margin: 0 5px 0 0;
    font-size: 0;
    vertical-align: middle;
    background: url('../images/browser-sprite.jpg') no-repeat -1000px 0;
}
#upgrade-browser a.chrome {
    background-position: 0px 0px;
}
#upgrade-browser a.ie { 
    background-position: -50px 0px;
}
#upgrade-browser a.firefox {
    background-position: -100px 0;
}
#upgrade-browser a.opera {
    background-position: -150px 0;
}
#upgrade-browser a.safari {
    background-position: -200px 0;
}
#upgrade-browser span {
    font-size: 16px;
    line-height: 18px;
    display: inline-block;
    margin: 10px;
}
#upgrade-browser .close-warning {
    height: 50px; 
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: url('../images/browser-sprite.jpg') no-repeat -250px 0;
}

/* end of upgrade browser */